<div class="contain text-center m-3 p-3">
<h1>Oumar Coach</h1>
<p>Bonsoir non, pose ta question</p>
<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="answer" class="p-1">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
